@import 'tailwindcss';

:root {
    --background: #ffffff;
    --primary: #04abb9;
    --primary-light: #05d9eb;
    --primary-dark: #037d87;
}

@theme inline {
    --font-figtree: var(--font-figtree), sans-serif;
    --font-fascinate: var(--font-fascinate), sans-serif;

    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-dark: var(--primary-dark);
    --color-background: var(--background);
}

.primary-text-shadow {
    text-shadow: 0px 8px 1px rgb(4 171 185 / 0.75), 0px 1px 100px rgb(4 171 185 / 0.5), 0px 1px rgb(4 171 185 / 0.25);
}

.primary-border {
    border-width: 1.9px;
    border-color: var(--primary);
    box-shadow: 2.5px 2.5px 0 0 var(--primary);
}

.primary-dark-border {
    border-width: 1.9px;
    border-color: var(--primary-dark);
    box-shadow: 2.5px 2.5px 0 0 var(--primary-dark);
}

.primary-dark-border-hover {
    border-width: 1.9px;
    border-color: var(--primary-dark);
    box-shadow: 2.5px 2.5px 0 0 var(--primary-dark);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.primary-dark-border-hover:hover {
    translate: 2.5px 2.5px 0;
    box-shadow: none;
}
